<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="side-bar flex flex-col" th:fragment="sidebar">
            <div class="logo-manager">
                <a th:href="@{/colaborador/dashboard}" class="info-dashboard">
                    <div class="id-content">
                        <h1>Colaborador</h1>
                        <p>Generador de Actividades</p>
                    </div>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <div class="info gap-2">

                        <p class="title-bar"> Platforma</p>
                        <li class="menu-link">
                            <a th:href="@{/colaborador/actividades}"
                                sec:authorize="hasAnyRole('CLIENTE','COLABORADOR')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
                                    class="small-icon">
                                    <path fill="#000" fill-rule="evenodd"
                                        d="M20 4H4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1M4 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h16a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zm2 5h2v2H6zm5 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2zm-3 4H6v2h2zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1m-2 3H6v2h2zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1"
                                        clip-rule="evenodd" stroke-width="0.2" stroke="#000" />
                                </svg>
                                <p class="btn btn-primary btn-lg">
                                    Ver actividades
                                </p>
                            </a>
                        </li>

                        <li class="menu-link dropdown">
                            <a href="#" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path fill="#000" d="m7 10l5 5l5-5z" stroke-width="0.2" stroke="#000" />
                                </svg>
                                <p>Dropdown</p>
                            </a>
                            <div class="dropdown-grafica-container">
                                <ul>
                                    <li class="menu-link ">
                                        <a href="/pais/colombia/graficos">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                                viewBox="0 0 36 36">
                                                <path fill="#fbd116" d="M32 5H4a4 4 0 0 0-4 4v9h36V9a4 4 0 0 0-4-4" />
                                                <path fill="#22408c" d="M0 18h36v7H0z" />
                                                <path fill="#ce2028" d="M0 27a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4v-2H0z" />
                                            </svg>
                                            <p>Colombia</p>
                                        </a>
                                    </li>
                                    <li class="menu-link ">
                                        <a href="/pais/austria/graficos">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                                viewBox="0 0 64 64">
                                                <path fill="#e6e7e8" d="M0 25h64v14H0z" />
                                                <path fill="#ec1c24"
                                                    d="M54 10H10C3.373 10 0 14.925 0 21v4h64v-4c0-6.075-3.373-11-10-11M0 43c0 6.075 3.373 11 10 11h44c6.627 0 10-4.925 10-11v-4H0z" />
                                            </svg>
                                            <p>Austria</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <div class="cerrar">


                        <li class="menu-link" sec:authorize="isAuthenticated()">
                            <a class="" th:href="@{/logout}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="small-icon">
                                    <g fill="none">
                                        <path
                                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                        <path fill="#000"
                                            d="M12 2.5a1.5 1.5 0 0 1 0 3H7a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h4.5a1.5 1.5 0 0 1 0 3H7A3.5 3.5 0 0 1 3.5 18V6A3.5 3.5 0 0 1 7 2.5Zm6.06 5.61l2.829 2.83a1.5 1.5 0 0 1 0 2.12l-2.828 2.83a1.5 1.5 0 1 1-2.122-2.122l.268-.268H12a1.5 1.5 0 0 1 0-3h4.207l-.268-.268a1.5 1.5 0 1 1 2.122-2.121Z" />
                                    </g>
                                </svg>
                                <p>Cerrar Sesion</p>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
</body>
</html>
