@import "tailwindcss";

body {
    width: 100%;
}


/* Headers */
.header {
    position: relative;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: var(--color-medium-blue);

}


.container-100 {
    width: 100%;
    position: relative;
    max-width: 1560px;
    margin: 0 auto;

}


.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: var(--color-medium-blue);
}

.brand {
    position: absolute;
    width: 80px;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

}

.other-logo{
    z-index: 1001;
    display: none;
}

@media (max-width: 768px) {
    .brand {
        display: none;
    }

    .other-logo{
    display: block;
}
}

.logo {
    object-fit: cover;
    width: 90px;
    height: 30px;
}



.menu {
    position: relative;
    z-index: 10;
    width: 100%;
    max-height: 1560px;
    height: 100vh;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    color: var(--color-black-400);
    background-color: var(--color-medium-blue);
    box-shadow: var(--shadow-medium);
    transition: all 0.3s ease;
}

.menu.is-active {
    left: 0;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    padding: 0px 20px;
    margin-top: 7rem;
}

.menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: white;
}



@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        padding: 0rem;
        margin-left: auto;
        background: none;
        box-shadow: none;
        transition: unset;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin: 0 auto;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .navbar {
        position: relative;
    }

}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 12;
    width: 1.6rem;
    height: 1.15rem;
    margin-right: 1.25rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 1rem;
    transform: rotate(0deg);
    background-color: var(--color-black-300);
    transition: 0.25s ease-in-out;
}


.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}


/* Banners */
.banner-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 2rem;
}

/* Responsive Media Query */
@media only screen and (min-width: 48rem) {
    .banner-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr max-content;
        column-gap: 2rem;
    }
}

.banner-image {
    display: block;
    max-width: 25rem;
    height: auto;
    object-fit: cover;
    justify-self: center;
}

/* Responsive Media Query */
@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 28rem;
        height: auto;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 33rem;
        height: auto;
    }
}

.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}





.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    width: 100%;
    font-size: 12px;
    color: var(--color-white);
    font-weight: 400;
    padding: 0px 20px 0px 20px;
}

.nav-links li {
    display: flex;
    font-size: 12px;

}

.nav-links li a {
    z-index: 2;
    font-weight: 800;
}



.sign-contain {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-auth{
    color: white;
}

.btn-auth {
    border-radius: 40px;
    text-align: center;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-medium-blue);
}

.register-btn svg {
    color: var(--color-medium-blue);
    rotate: 180deg;
}

/*Dropdown*/

.dropdown {
    width: fit-content;
    max-height: 60px;
    transition: height .5s;
    padding: 0px;
    border-radius: 16px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dropdown>a {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 9.5px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    font-size: 14px;
}


.dropdown>a>img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.dropdown.dropdownUp {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 16px;
    gap: 15px;

}

.dropdown-contain {

    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #3c3838 !important;
    border: 1px solid #E5E5E5;
    padding: 5px;
    gap: 15px;
    border-radius: 16px;

    margin-top: 15px;
    /* POSICIONAMIENTO ABSOLUTO */
    position: absolute;
    width: 180px;
    top: 100%;
    /* justo debajo del dropdown */
    left: -105px;
    right: -105px;
    z-index: 1000;
    /* para que aparezca encima de otros elementos */
}

.btn-cerraSesion,
.dropdown-contain a {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 10px;
    font-size: 14px;
    border-radius: 9.5px;
    font-weight: 800;
    gap: 10px;
}

.btn-cerraSesion:hover,
.dropdown-contain a:hover {
    background-color: #F2F2F2;
}

.flexing {
    display: flex;
    background-color: #ffffff !important;
    cursor: pointer;
}





main {
    /* background-image: url('../images/background/mainBg.png');  */
    height: 60vh;
    max-height: 600px;
    display: flex;
    justify-content: center;
}

main .content {
    margin-top: 100px;
    text-align: center;
}

h1 {
    
    font-size: 40px;
    width: 550px;
    max-width: 100%;
    font-weight: 800;
}

/* .hero-text {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3.0rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

section.hero {
    background-color: #ffffff;
    width: 100%;
    height: 450px;
    max-width: 100%;
    max-height: 650px;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.btns-hero {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns-hero a:first-child {
    padding: 6px 12px;
    border: 1px solid var(--color-white);
    background-color: var(--color-medium-blue);
    color: var(--color-white);
}

.btns-hero a:nth-child(2) {
    padding: 6px 12px;
    border: 1px solid #b7b7b7;
}



@media screen and (max-width: 960px) {

    .main, .content{
        max-width: 100%;
    }
    
    

}

@media (max-width: 800px) {

}

/*Categorias*/

.Categorias {
    width: 100%;
    max-width: 1365px;
    margin: 0 auto;
    height: fit-content;
    padding: 1.5rem 3rem 0rem 3rem;
    overflow-x: hidden;
}


.Categorias-container {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.container-Categorias {
    display: flex;
    justify-content: start;
    gap: 28px;
}

.circle-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    cursor: pointer;
}

.circle-cat img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.circle-cat img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.circle-cat p {
    font-size: 14px;
    font-weight: 600;
    color: var(--color--black);
    text-decoration: none;
}

.filtro-ordenar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: min(10px, 20px) min(20px, 30px);
    border-radius: 8px;
    border: 1px solid #000;
}


/*Actividades Tendencias*/

.Trending {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: fit-content;
    padding: 3.5rem 2rem 1rem 2rem;
}

h2 {
    padding: 0px 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-poppins);
    color: var(--color-black);
    margin-bottom: 1rem;
}

.h2_trendi {
    margin-top: 0;
    margin-top: 0;
    padding: 0;
}

.city {
    color: var(--color-medium-blue);
}


/* Actividades Cards */
.Actividades-Container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 20px;
}

.Actividad-card {
    position: relative;
    border-radius: 12px;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    background: white;
    transition: transform 0.2s ease;
    padding: 6px;
    /* max-width: 500px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: adds depth */
    border-radius: 30px;
}

.container-bookmark {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.bookmark {
    z-index: 2;
    color: var(--color-white);
}



.Actividad-card:hover {
    transform: translateY(-4px);
}

.Actividad-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 28.5px 28.5px 15px 15px;
}

.price {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #6bd0ff;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.content-actividad {
    padding: 16px;
}

.content-actividad h3 {
    font-size: 1.25rem;
    font-weight: 600;
}


.content-actividad p {
    margin: 0;
    color: #666;

}

.Actividad-card-link {
    text-decoration: none;
    color: inherit;
}

.content-actividad {
    padding: 15px 15px 35px 15px;
}


/*Paginacion*/







.anterior-paginacion {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: -10;
}


.despues-paginacion {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    right: 10px;
}

@media (max-width: 768px) {
    .Actividad-card {
        max-width: 1000px;
    }

    .anterior-paginacion {
        position: relative;
        justify-content: center;
    }


}

.despues-paginacion svg {
    rotate: 180deg;

}

.social {
    box-sizing: border-box;
    width: 100%;
    max-width: 1351px;
    height: fit-content;
    padding: 2rem 3rem 5rem 3rem;
    border-radius: 16px;
    margin: 0px auto;
    overflow-x: hidden;
    /* Asegura que no haya scroll horizontal */
}

.container_share {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.social .flex .w-70 h2 {
    margin-bottom: 4px;
    color: var(--color-medium-blue);
}

.social-container-info {
    padding-bottom: 15px;
}

.h2_description {
    padding: 0px 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    margin-bottom: 1rem;
}

.contain-img-shares {
    position: relative;
}

.contain-img-shares img {
    width: 313px;
    height: 313px;
    border-radius: 8px;
    object-fit: cover;
}

.text-shares {
    position: absolute;
    font-weight: 400;
    color: white;
    bottom: 10px;
    left: 15px;
}

.w-70 {
    width: 80%;
}

.w-30 {

    width: 20%;
}

.w-30>a>svg {
    width: 45px;
    height: 45px;
}







